// Copyright Epic Games, Inc. All Rights Reserved.

#pragma once

#include "Modules/ModuleManager.h"

{{#link_shared}}
#include <array>
{{/link_shared}}

class F{{plugin_name}}Module : public IModuleInterface
{
public:

	/** IModuleInterface implementation */
	virtual void StartupModule() override;
	virtual void ShutdownModule() override;

    {{#link_shared}}
private:
    static constexpr std::array PluginDllNames = {
        {{#shared_libraries}}
        TEXT("{{library_name}}"),
        {{/shared_libraries}}
    };

	/** Handle to the test dll we will load */
	std::array<void*, sizeof(PluginDllNames)> {{plugin_name}}Handles = { {{#shared_libraries}}nullptr, {{/shared_libraries}} };
    {{/link_shared}}
};
