{
	"FileVersion": 3,
	"Version": 1,
	"VersionName": "{{version_name}}",
	"FriendlyName": "{{plugin_name}}",
	"Description": "{{description}}",
	"Category": "ThirdParty",
	"CreatedBy": "",
	"CreatedByURL": "",
	"DocsURL": "",
	"MarketplaceURL": "",
	"CanContainContent": false,
	"IsBetaVersion": false,
	"IsExperimentalVersion": false,
	"Installed": false,
	"Modules": [
		{
			"Name": "{{plugin_name}}",
			"Type": "Runtime",
			"LoadingPhase": "Default"
		}
	]
}